label{
    display: block;
    text-align: left;
    font-weight: bold;

}
.su{
    text-align: center;
    font-family: sans-serif;
    padding-top: 15px;
    
}
.inputbox{
    border-radius: 80px;
    border: 2px gray solid;
    background-color:aliceblue;
    width: 400px;
    padding: 10px;
    margin-bottom: 12px;
    font-size: 15px;
}
div{
    width: 400px;
    height: 687px;
    background-color:white ;
    padding: 50px;
    margin: 80px auto;
    border-radius: 15px;
}
body{
    background:url(image1.png) ;
    background-size: cover;
}
hr{
    border: 1px rgb(111, 108, 108) solid;
}
button{
    text-align: center;
    width: 420px;
    height: 47px;
    background-color: rgb(47, 37, 38);
    color: white;
    font-size: 20px;
}